@model User

<section class="panel panel-default">
    <div class="panel-heading">@Model.UserName</div>
    <div class="panel-body">

        <div>
            <a class="btn btn-default btn-xs" asp-controller="Account" asp-action="AddUserToRole" asp-route-id="@Model.Id">Add To Role</a>
        </div>
    </div>
</section>
