@model IndexUsersViewModal


<h1 align="center"> Account Management </h1>
<hr>
<div>
    @foreach (var res in Model.Users)
    {
        @Html.Partial("_Summary", res)

    }
</div>

<!--Example of Tag Helpers-->
<div>
    <a class="btn btn-default" asp-controller="Account" asp-action="Register">Register new Users</a>
</div>

<script>
    $(document).ready(function () {
      $("div[id$=dvProgress]").fadeOut("fast");
    });
</script>
